In [1]:
#Shishir Khanal
#Jul 2, 2025
#File I/O
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('example.csv')

In [7]:
newdf = df[['a','b']]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [8]:
newdf.to_csv('mynew.csv',index=True)

In [10]:
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [11]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')